:root {
    --color-cart-tooltip-background: steelblue;
    --color-font-black: #141414;
    --color-dark-text: #080808;
    --color-light-text: #BEBEBE;
    --color-gray-light: #A9A9A9;
    --color-gray-middle: #808080;
    --color-gray-dark: #676767;
    --color-almost-white: #F2F2F2;
    --color-very-light-gray: #D2D2D2;
    --color-background-whit: white;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--color-font-black);
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

nav {
    background-color: var(--color-background-whit);
    margin-bottom: 4rem;
    padding-top: 1rem;
    box-shadow: 0 0 1.5rem .5rem rgba(0, 0, 0, .15);
}

.motto {
    margin-top: .5rem;
    background-color: var(--color-almost-white);
    text-align: center;
    padding-bottom: .25rem;
    padding-top: .25rem;
    font-size: .925rem;

}

.container {
    min-width: 80%;
}


.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.suppliers {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
.content {
    display: flex;
    flex-direction: row;
    border-color: black;
    margin-top: 1rem;
}

.supplier {
    display: flex;
    flex-direction: row;
    border-style: groove;
}

.supplier{
    color:#444;
    border:1px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    padding: 0.5rem;
    text-align: center;
}


.category{
    color: var(--color-font-black);
    background-color: transparent;
    display: inline-block;
    margin: .5rem;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
}


.category:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.scroll-prevent {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--color-gray-dark);
}

#cart-tooltip {
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: -5px;
    right: -8px;
    background-color: var(--color-dark-text);
    color: var(--color-light-text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    font-size: .875rem;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-font-black);
}

.logo > h1 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0;
    color: var(--color-gray-dark);
}

.cart {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-wrapper {
    position: relative;
    max-height: 80%;
    overflow: auto;
    overflow-x: hidden;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cart-total,
.cart-item {
    display: flex;
    flex-direction: row;
    min-height: 3rem;
    align-items: center;
}

.cart-item > input,
.cart-item > p {
    width: 7rem;

}

.cart-item > input {
    height: 1.5rem;
    color: var(--color-gray-dark);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-gray-dark);
    margin-top: -.5rem;
    text-align: center;
}

.cart-item + .cart-item {
    margin-top: 2rem;
}

.cart-total > p,
.cart-item > p {
    padding: .6rem;
}

.cart-item > p {
    color: var(--color-gray-dark);
    margin-bottom: 0;
    text-align: center;
}

.cart-item > p:first-child {
    text-align: left;
}

.img-holder,
.cart-item > p:first-child {
    width: 5rem;
    margin-right: 1rem;
}

.cart-item > p.product-total {
    padding-right: 1rem;
    text-align: right;
}

.cart-total {
    margin-top: 2rem;
    border-top: 1px solid var(--color-gray-light);
    justify-content: space-between;
}

.cart-item.labels {
    margin-bottom: 2rem;
    font-weight: 500;
}

.not-visible {
    display: none;
}

.cart-title {
    color: var(--color-gray-dark);
}

.cart-item > p.cart-name {
    color: var(--color-dark-text);
}

.cart-item > p.cart-name,
.cart-item > p.product-name {
    text-align: left;
    width: 12rem;
}

.total-label,
.total-amount {
    font-weight: 500;
    color: var(--color-dark-text);
}

.product-preview {
   object-fit: scale-down;
}


body {
    margin: 0;
}

.link-button {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 8px;
    background-color: var(--color-dark-text);
    color: var(--color-almost-white);
    font-weight: 500;
}

.cart-content > h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#cart-close-icon {
    position: absolute;
    top: 15%;
    right: 30%;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.card {
    border: none;
    margin-bottom: 5rem;
}

.card-header {
    background-color: transparent;
}

.card-header,
.card-body {
    padding-top: 0;
    padding-left: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.card-header > h4 {
    padding-top: .5rem;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--color-dark-text);
}

.card-header > p {
    font-size: .925rem;
    color: var(--color-gray-dark);
    border-bottom: none;
    height: 4rem;
    overflow: hidden;
    border-bottom: none !important;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.lead {
    margin-bottom: 0;
    font-size: .925rem;
    font-weight: 500;
}

div.card-text > .add-to-cart {
    background-color: var(--color-dark-text);
    color: var(--color-background-whit);
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: .925rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

div.card-text > .add-to-cart:hover,
div.card-text > .add-to-cart:active,
.link-button:active,
.link-button:hover{
    background-color: var(--color-gray-dark);
    color: var(--color-light-text);
}


